html, body, ul, h1, h2, p{
    margin: 0;
    padding: 0;
}

#page{
    /* width: 1440px; */
    margin: 0 auto;
}

header{}
header .logo{
    display: flex;
}
header .logo .menu{
    margin-left: 83px;
}
header .logo .menu li{
    display: inline-block;
}
